@model List<ACC.ViewModels.ReviewsVM.FolderWithDocumentsVM>

<ul>
    @foreach (var folder in Model)
    {
        <li>
            <input type="checkbox" name="SelectedFolderIds" value="@folder.Id" id="folder_@folder.Id" />
            <label for="folder_@folder.Id"><strong>@folder.Name</strong></label>

            @if (folder.Documents != null && folder.Documents.Any())
            {
                <ul>
                    @foreach (var doc in folder.Documents)
                    {
                        <li>
                            <input type="checkbox" name="SelectedDocumentIds" value="@doc.Id" id="doc_@doc.Id" />
                            <label for="doc_@doc.Id">@doc.Name</label>
                        </li>
                    }
                </ul>
            }

            @if (folder.Children != null && folder.Children.Any())
            {
                @Html.Partial("_FolderTree", folder.Children)
            }
        </li>
    }
</ul>
